.card {
    transition: transform 0.3s, box-shadow 0.3s;
    min-height: 355px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-bottom: 3px solid #007bff;
}

.card-body {
    padding: 10px;
    font-size: 0.9rem;
}